/* :root에 컬러 & 기본 값 변수 세팅 */
:root {
  --red: #F74747;
  --blue: #3692FF;
  --white: #FFF;
  --gray900: #111827;
  --gray800: #1F2937;
  --gray700: #374151;
  --gray600: #4B5563;
  --gray500: #6B7280;
  --gray400: #9CA3AF;
  --gray200: #E5E7EB;
  --gray100: #F3F4F6;
  --gray50: #F9FAFB;
}

body {
  font-family: "Pretendard", sans-serif;
}

header {
  position: sticky;
  top: 0;
  height: 70px;
  background-color: var(--white);
  border-bottom: 1px solid #DFDFDF;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1920px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 200px;
}
header .logo img {
  width: 153px;
}
header .logo img.mo_img {
  display: none; 
}
header .login_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 128px;
  height: 48px;
  font-size: 16px;
  font-weight: 600;
  color: var(--gray100);
  border-radius: 8px;
  background-color: var(--blue);
}

footer {
  width: 100%;
  padding: 32px 32px 108px;
  background-color: var(--gray900);
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1120px;
  margin: 0 auto;
}
footer .copyright {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: var(--gray400);
  text-align: center;
}
footer .popup_box {
  display: flex;
  gap: 30px;
}
footer .popup_box a {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: var(--gray200);
}
footer .link_box {
  display: flex;
  gap: 12px;
}
footer .link_box a {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
footer .link_box a.facebook {
  background-image: url('/img/facebook_ico.svg');
}
footer .link_box a.twitter {
  background-image: url('/img/twitter_ico.svg');
}
footer .link_box a.insta {
  background-image: url('/img/insta_ico.svg');
}
footer .link_box a.youtube {
  background-image: url('/img/youtube_ico.svg');
}

@media (max-width: 1199px) {
  header .container {
    padding: 0 24px;
  }
  
  footer .container {
    max-width: 536px;
  }
  footer .copyright {
    color: var(--gray200);
  }
}

@media (max-width: 767px) {
  header .container {
    padding: 0 16px;
  }
  header .logo img.pc_img {
    display: none; 
  }
  header .logo img.mo_img {
    display: block; 
    width: 103px;
  }

  footer {
    padding: 32px 32px 30px;
  }
  footer .container {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 59px 0;
    max-width: none;
  }
  footer .copyright {
    order: 3;
    width: 100%;
    text-align: left;
  }
  footer .popup_box {
    order: 1;
  }
  footer .link_box {
    order: 2;
  }
}