@charset "utf-8";*,::after,::before,button{margin:0;padding:0}*,::after,::before,button,h1,h2,h3,h4,h5,h6,input,select,table,textarea{box-sizing:border-box}article,aside,canvas,details,figcaption,figure,footer,header,mark,menu,nav,section,summary{display:block}button,input,select,textarea{background-color:var(--color-white);border-radius:0;-webkit-appearance:none}a:focus,button,fieldset,iframe,img{border:0}li{list-style:none}button,img,input,select,textarea{vertical-align:middle}img{max-width:100%;height:auto}address,em,optgroup{font-style:normal}button,label{cursor:pointer}label{position:relative}button{background:0 0}a{text-decoration:none;color:inherit}a:focus{outline:0}caption,legend{font-size:0;width:0;height:0;line-height:0;overflow:hidden;text-indent:-9999px}table{width:100%;border-spacing:0}
body {
  font-family: "Pretendard", sans-serif;
}

header {
  height: 70px;
  border-bottom: 1px solid #DFDFDF;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1920px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 200px;
}
header .logo img {
  width: 153px;
}
header .login_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 128px;
  height: 48px;
  font-size: 16px;
  font-weight: 600;
  color: #F3F4F6;
  border-radius: 8px;
  background-color: #3692FF;
}

section {
  overflow: hidden;
}
section .inner {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}
section .section_tit {
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
  margin-bottom: 24px;
}
section .section_cate {
  font-weight: 800;
  font-size: 18px;
  line-height: 26px;
  color: #3692FF;
  margin-bottom: 12px;
}
section .section_desc {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}
section .section_img img {
  height: 444px;
}

.section_banner {
  padding-top: 200px;
  background-color: #CFE5FF;
}
.section_banner .content_box {
  max-width: 1110px;
  height: 340px;
  margin: 0 auto;
  background: url('/img/banner_img.png') no-repeat center right / auto 100%;
}
.section_banner .content_box .section_tit {
  padding-top: 40px;
  margin-bottom: 32px;
}
.section_banner .content_box .click_to_items {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 357px;
  height: 56px;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #F9FAFB;
  border-radius: 40px;
  background-color: #3692FF;
}

.section_items .inner, .section_search .inner, .section_register .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 988px;
  padding: 138px 20px;
}

.section_banner_02 .content_box {
  background: url('/img/banner_img_02.png') no-repeat center right / auto 100%;
}
.section_banner_02 .content_box .section_tit {
  padding-top: 122px;
  margin-bottom: 0;
}

footer {
  width: 100%;
  padding: 32px 0 108px;
  background-color: #111827;
}
footer .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1120px;
  margin: 0 auto;
}
footer .copyright {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #9CA3AF;
  text-align: center;
}
footer .popup_box {
  display: flex;
  gap: 30px;
}
footer .popup_box a {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #E5E7EB;
}
footer .link_box {
  display: flex;
  gap: 12px;
}
footer .link_box a {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
footer .link_box a.facebook {
  background-image: url('/img/facebook_ico.svg');
}
footer .link_box a.twitter {
  background-image: url('/img/twitter_ico.svg');
}
footer .link_box a.insta {
  background-image: url('/img/insta_ico.svg');
}
footer .link_box a.youtube {
  background-image: url('/img/youtube_ico.svg');
}