.itemListBox + .itemListBox {
  margin-top: 40px;
}
.titleBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.searchSelectBox {
  display: flex;
  gap: 12px;
}
.moButton {
  display: none !important;
}

@media (max-width: 767px) {
  .itemListBox + .itemListBox {
    margin-top: 24px;
  }
  .titleBox {
    flex-wrap: wrap;
    gap: 8px;
  }
  .moButton {
    display: block !important;
  }
  .pcButton {
    display: none !important;
  }
  .searchSelectBox {        
    justify-content: space-between;
    gap: 14px;
    width: 100%;
  }
}