.item .container {
  max-width: 1200px;
  padding: 23px 24px 0;
  margin: 0 auto;
}

.listTitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: var(--gray900);
}

@media (max-width: 767px) {
  .item .container {
    padding: 17px 15px 0;
  }
}