header{
  position: sticky;
  top: 0;
  height: 70px;
  background-color: var(--white);
  border-bottom: 1px solid #DFDFDF;
  z-index: var(--header-z-index);
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1920px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 200px;
}
.left {
  display: flex;
  gap: 32px;
}
.logo img {
  width: 153px;
}
.logo .moImg {
  display: none; 
}
.menuList {
  display: flex;
  align-items: center;
}
.menuList li a {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  vertical-align: middle;
  color: #4B5563;
  padding: 0 15px;
}
.menuList li a.active {
  color: var(--blue);
}
.myProfile .profileImg {
  width: 40px;
  height: 40px;
  background-image: url('../assets/profileDefaultImg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 1199px) {
  .container {
    padding: 0 24px;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0 16px;
  }
  .left {
    gap: 8px;
  }
  .logo .pcImg {
    display: none; 
  }
  .logo .moImg {
    display: block; 
    width: 81px;
  }
  .menuList { 
    gap: 8px;
  }
  .menuList li a {
    font-size: 16px;
    padding: 0;
  }
}