@charset "utf-8";
*,
::after,
::before,
button {
  margin: 0;
  padding: 0;
}
*,
::after,
::before,
button,
h1,
h2,
h3,
h4,
h5,
h6,
input,
select,
table,
textarea {
  box-sizing: border-box;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
mark,
menu,
nav,
section,
summary {
  display: block;
}
button,
input,
select,
textarea {
  border-radius: 0;
  -webkit-appearance: none;
}
a:focus,
button,
fieldset,
iframe,
img {
  border: 0;
}
li {
  list-style: none;
}
button,
img,
input,
select,
textarea {
  vertical-align: middle;
}
img {
  max-width: 100%;
  height: auto;
}
address,
em,
optgroup {
  font-style: normal;
}
button,
label {
  cursor: pointer;
}
label {
  position: relative;
}
button {
  background: 0 0;
}
a {
  text-decoration: none;
  color: inherit;
}
a:focus {
  outline: 0;
}
caption,
legend {
  font-size: 0;
  width: 0;
  height: 0;
  line-height: 0;
  overflow: hidden;
  text-indent: -9999px;
}
table {
  width: 100%;
  border-spacing: 0;
}
input,
select,
textarea {
  border: none;
  outline: none;
}

:root {
  --slate900: #0f172a;
  --slate800: #1e293b;
  --slate500: #64748b;
  --slate400: #94a3b8;
  --slate300: #cbd5e1;
  --slate200: #e2e8f0;
  --slate100: #f1f5f9;
  --slat50: #f8fafc;
  --violet600: #7c3aed;
  --violet200: #ddd6fe;
  --violet100: #ede9fe;
  --rose: #f43f5e;
  --lime: #bef264;
  --amber: #92400e;
  --white: #fff;
}

body {
  min-height: 100vh;
  transition: all 0.4s;
}

.pcOnly {
  display: block;
  @media (max-width: 767px) {
    display: none;
  }
}
.mobileOnly {
  display: none;
  @media (max-width: 767px) {
    display: block;
  }
}

button:disabled {
  cursor: not-allowed;
}
