.main {
  padding-top: 24px;
}

.formInner {
  display: flex;
  gap: 16px;
}

.inputWrapper {
  position: relative;
  flex: 1;
  height: 56px;
  background: url("/search_input_center.png") no-repeat center /
    calc(100% - 27px - 27px) 56px;

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0;
    width: 27px;
    height: 56px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &:before {
    left: 0;
    background-image: url("/search_input_left.png");
  }

  &:after {
    right: 0;
    background-image: url("/search_input_right.png");
  }
}
.input {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 16px;
  color: var(--slate900);
  padding: 18px 24px 21px;
  background-color: transparent;

  &::placeholder {
    color: var(--slat500);
  }
}

.addButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: 168px;
  height: 56px;
  font-weight: 700;
  font-size: 16px;
  color: var(--slate900);
  background-image: url("/add_button_default_lg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: all 0.4s;

  &.active {
    background-image: url("/add_button_active_lg.png");
  }

  @media (max-width: 767px) {
    width: 56px;
    background-image: url("/add_button_default_sm.png");

    &.active {
      background-image: url("/add_button_active_sm.png");
    }
  }
}

.allTodoList {
  display: flex;
  gap: 24px;
  margin-top: 40px;

  & > div {
    flex: 1;
  }

  @media (max-width: 767px) {
    flex-direction: column;
  }
}

.listTitle {
  height: 36px;
  margin-bottom: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &.todoTitle {
    width: 101px;
    background-image: url("/title_todo.png");
  }

  &.doneTitle {
    width: 97px;
    background-image: url("/title_done.png");
  }
}

.item {
  display: flex;
  align-items: center;
  gap: 16px;
  height: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: var(--slate800);
  padding: 9px 12px;
  background-color: var(--white);
  border: 2px solid var(--slate900);
  border-radius: 27px;

  &.done {
    text-decoration: line-through;
    background-color: var(--violet100);
  }

  & + & {
    margin-top: 16px;
  }
}

.checkbox {
  width: 32px;
  height: 32px;
  background-image: url("/checkbox_default.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;

  &:checked {
    background-color: var(--violet100);
    background-image: url("/checkbox_active.svg");
  }
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: var(--slate400);
  text-align: center;
  padding-top: 64px;
}
.emptyImage {
  position: relative;
  width: 240px;
  height: 240px;
}
